/* your styles go here */
/* Example site test */
body {
    font-size: 2em;
}
.box-image-text .image {
    min-height: 190px;
    max-height: 190px;
}

.box-image-text .image img {
    max-height: 190px;
    margin: auto;
}

.box-simple {
    min-height: 230px;
    p {
        color: #333333;
    }
}

.client-list {
    
    display:flex;
    flex-direction:column;
    align-items:center;

    .item {
        height: 4em;
        margin-top: 1em;
        margin-bottom: 1em;

        img {
            height: 100%;
        }
    }
}



@media (min-width: 768px) {
    
.client-list {
    
    display:flex;
    flex-wrap: wrap;
    flex-direction:row;
    align-items:center;
    justify-content:center;

}


}
